
.add-tab {
    width: 100%; 
    margin-top: 1rem;
  }
  
  .add-tab th, .tab td {
    border: 1px solid black; 
    
  }
  
  .add-tab td {
    text-align: center; 
    vertical-align: middle; 
  }
  
  .add-tab input {
    width: 96.5%; 
    margin: auto; 
    display: block; 
    text-align: center;
  }

.back-color {
    background-color: rgb(198, 199, 199);
    height: 100vh;
    overflow: auto; 
}

.nav-color {
    background-color: rgb(36, 36, 66);
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 10; 
}

.back-tab {
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80rem;
    margin-left: 6rem;
    padding: 2rem;
    padding-top: 2rem;
    overflow-x: auto; 
    height: auto; 
    margin-top: 7rem;
    
}

h2 {
   display: flex;
   justify-content: center;
}


.savee{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(36, 36, 66);
    color: white;
    height: 2.5rem;
    width: 5rem;

}

.sell{
  height: 1.7rem;
  width: 4rem;
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.pdf {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(36, 36, 66);
    color: white;
    height: 2.5rem;
    width: 9rem;
}

.pdf:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 107);
    color: white;
}

.button-save{
    display: flex;
    gap: 2rem;
    /* margin-top: 11rem; */
    
}


.add-tab input {
    width: 96.5%; 
    margin: auto; 
    display: block; 
    text-align: center;
}

.checkboxes{
    margin-top: 2rem;
}

.background{

    background-image: url(../Logo/pic.jpg);
    /* background-color: #f0efed; */
     background-size: cover;
    background-repeat: repeat;  
    height: 100%;
    width: 100%; 
  }


  .checkboxes label{
    font-weight: bold;
  }

  .pdf-btn{
    margin-top: 3rem;

  }

  .bill-save{
    margin-top: 5rem;
  }

  .bill-name-input{
    margin-top: 8rem;
    border-radius: 5px;
    border: solid rgb(32, 31, 55);
    width: 8.8rem;

  }



  .add-tab th,
.add-tab td {
  border: 1px solid #111111; /* Adds a border */
  padding: 8px; /* Adds padding for better readability */
}

.add-tab {
  border-collapse: collapse; /* Ensures no double borders */
  width: 100%; /* Makes the table take up the full width */
}

.add-tab th {
  background-color: #242442; /* Adjust to your desired color */
  color: white; /* Ensure text is readable */
  text-align: center; /* Align text in the center */
}

.add-tab td {
  text-align: center; /* Center align data cells */
}

.add-tab tfoot td {
  font-weight: bold; /* Makes footer text bold */

}
